.nike__wrapper {
    position: relative;
    background-repeat: no-repeat;
    background-image: url('../img/main__bg.png');
    width: 800px;
    height: 600px;
    margin:0 auto;
}

.nike__card {
    width: 686px;
    height: 391px;
    background-color: #111a28;
    border-radius: 10px;
    box-shadow: 0 0 65px rgba(0, 0, 0, 0.82);
    top: 0;
    bottom: 0;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    display:flex;
    flex-direction:row;
    justify-content: space-around;
}

.nike__product {
    display:flex;
    flex-direction:column;
    
}

.nike__info {
    display:flex;
    flex-direction:column;
}

.nike__shoe {
    padding-left: 36px;
}

.nike__logo {
    padding-top: 24px;
    padding-left: 21px;
}

.nike__title {
    color: #e1e1e1;
    font-family: 'Museo Sans Rounded 100';
    font-size: 24px;
    line-height: 26px;
    margin-top: 78px;
    margin-left: 112px;
}

.nike__description {
    margin-top: 10px;
    margin-left: 112px;
    margin-bottom: 20px;
}

.nike__description {
    opacity: 0.54;
    color: #e1e1e1;
    font-family: 'Museo Sans Rounded 100';
    font-size: 14px;
    line-height: 26px;
}

ul {
    display: inline-flex;
}

li {
    height:9px;
    width:9px;
    background:#ccc;
    border-radius:50%;
    margin-left:3px;
    margin-right:3px;
    cursor:pointer;
}

li:first-child {
    background-color: #1f273f;
}

li:nth-child(2) {
    background-color: white;
}

li:nth-child(3) {
    background-color: #ed3333;
}

li:nth-child(4) {
    background-color: #29e3ea;
}

img {
    margin-right: auto;
    
}

body {
    position: relative;
    margin-top: 150px;
    background-color: #313C4B;
}

.nike__starswrapper{
    overflow: hidden;
    margin-left: 112px;
  }
  #review_stars {
    overflow: hidden;
    position: relative;
    float: left;
  }
  #review_stars input {
    opacity: 0;
    position: absolute;
    top: 0;
    z-index: 0;
  }
  #review_stars input ~ label i{
    color:#ccc;
  }
  #review_stars input:checked ~ label i{
    color: #ec9801;
  }
  #review_stars label {
    float: right;
    cursor: pointer;
    position: relative;
    z-index: 1;
  }
  #review_stars label:hover i, #review_stars label:hover ~ label i{
    color: #ec9801;
  }