.nike__wrapper {
    position: relative;
    background-repeat: no-repeat;
    background-image: url('../img/main__bg.png');
    width: 800px;
    height: 600px;
    margin:0 auto;
}

.nike__slider{
    visibility: hidden; /* - slider load pronlem */
    width: 60%;
    border-radius: 10px;
    
    
    
}

.nike__card {
    width: 686px;
    height: 400px;
    
    
    
    
    background-color: #111a28;
    border-radius: 10px;
    box-shadow: 0 0 65px rgba(0, 0, 0, 0.82);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display:flex;
    flex-direction:row;
    justify-content: space-around;
}

.nike__product {
    display:flex;
    position: relative;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    
}


.nike__info {
    display:flex;
    flex-direction:column;
    background-color: #111a28;
    border-radius: 10px;
}

.nike__shoe {
    padding-left: 42px;
    padding-top: 52px;
}

.nike__logo {
    
    position: absolute;
    top: 33px;
    left: 28px;
}

.nike__title {
    color: #e1e1e1;
    font-family: 'Museo Sans Rounded 100';
    font-size: 24px;
    line-height: 26px;
    margin-top: 84px;
    margin-left: 39px;
    letter-spacing: 0.2px;
    /* text-align justify, padding, letter-spacing with negative value*/
}

.nike__description {
    opacity: 0.54;
    color: #e1e1e1;
    font-family: 'Museo Sans Rounded 100';
    font-size: 14px;
    line-height: 26px;
    margin-top: 5px;
    margin-left: 39px;
    margin-bottom: 18px;
    letter-spacing: 0.2px;
}

.nike__details {
    display: flex;
    margin-top: 27px;
    
}




.nike__size, .nike__qty {
    
    background-color: rgba(17,26,40, 0.8);;
    border: 1px solid rgba(255,255,255, 0.26);
    text-decoration: none;
    color:rgba(225,225,225, 0.8);
    font-family: 'Museo Sans Rounded 100';
    font-size: 14px;
    line-height: 14px;
    width: 67px;
    height: 21px;
    padding-top: 9px;
    margin-bottom: 3px;
    text-align: center;
    cursor: pointer;
    
}

.nike__size {
    margin-right: 2px;
    margin-left: 39px;
}

.nike__arrow {
    box-sizing: border-box;
    margin-left: 9px;
    height: 8px;
    width: 8px;
    vertical-align: top;
    border-style: solid;
    border: 1px solid #4c525a;
    border-width: 0px 1px 1px 0px;
    transform: rotate(45deg);
    transition: border-width 150ms ease-in-out;
    display: inline-flex;
  }

.nike__arrow:hover {
    border-color: white;
}  

a:hover {
    background-color: #281411;
    transition: 0.3s;
}

.nike__button {
    margin-top: 26px;
    
    
}

.nike__cart {
    
   
    background-color: rgba(76,82,90, 0.8);;
    border: 1px solid rgba(255,255,255, 0.26);
    color: rgba(225,225,225, 0.8);
    font-family: 'Museo Sans Rounded 100';
    font-size: 14px;
    line-height: 14px;
    text-decoration: none;

    padding-left: 55px;
    padding-right: 58px;
    padding-top: 13px;
    padding-bottom: 11px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin-left: 40px;
    cursor: pointer;
    letter-spacing: 0.2px;
}

ul {
    display: inline-flex;
    margin-top: 45px;
}

li {
    height:9px;
    width:9px;
    background:#ccc;
    border-radius:50%;
    margin-left:3px;
    margin-right:3px;
    cursor:pointer;
}


li:first-child {
    background-color: #1f273f;
}

li:nth-child(2) {
    background-color: white;
}

li:nth-child(3) {
    background-color: #ed3333;
}

li:nth-child(4) {
    background-color: #29e3ea;
}

img {
    margin-right: auto;
    
}

body {
    position: relative;
    margin-top: 150px;
    background-color: #313C4B;
}

.nike__starswrapper{
    overflow: hidden;
    margin-left: 37px;
  }
  #review_stars {
    overflow: hidden;
    position: relative;
    float: left;
  }
  #review_stars input {
    opacity: 0;
    position: absolute;
    top: 0;
    z-index: 0;
  }
  #review_stars input ~ label i{
    color:#ccc;
  }
  #review_stars input:checked ~ label i{
    color: #ec9801;
  }
  #review_stars label {
    float: right;
    cursor: pointer;
    position: relative;
    z-index: 1;
  }
  #review_stars label:hover i, #review_stars label:hover ~ label i{
    color: #ec9801;
  }

  label{
      font-size: 12px;
  }
